<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .mar-10{
        margin-bottom:15vh !important;
        margin-top:10vh;
      }
      .img-div > img{
        width:400px;
    }
    .bg-slate-1{
      background:#2c293a;
    }
    </style>
    <title>Home</title>
  </head>
  {{>headers}}
  <body class="bg-dark text-white">
    <div class="mar-10 mart-10">
      <div class="container m-5 row">
        <p class="fs-1 fw-bold text-primary">Invest in Mutual Funds</p>
        <div class="col">
        <p class="fs-3 mb-5">
          Mutual Funds are a smart way to grow your money. They can help you
          achieve your financial goals as they have the potential to generate
          higher-than-inflation returns.
        </p>
        <a href="/typeOne" class="link bg-white text-dark p-4  w-25 rounded-pill">Explore Mutual Funds</a>
        </div>
        <div class="col img-div">
            <img  src="images/growth_prev_ui.png"/>
        </div>
      </div>
    </div>
    <div class="container m-5">
      <div class="fs-1 text-primary fw-bold">What are Mutual Funds?</div>
      <div class="fs-4 p-2 mt-5">
        It is an investment vehicle where multiple investors come together and
        pool their funds. This pooled money is then invested by the fund manager
        across various asset classes including equity, debt, gold, and other
        securities to generate returns. The gains and losses incurred from such
        investments are divided among investors in the proportion of the share
        of investment. To learn more about them, read our detailed guide on
        <a
          class="text-success"
          href="https://www.amfiindia.com/investor-corner/knowledge-center/what-are-mutual-funds-new.html#:~:text=A%20mutual%20fund%20is%20a,instruments%20and%2For%20other%20securities."
          >What are mutual funds.></a
        >
      </div>
    </div>
    <div class="container-fluid">
      <p class="fs-1 ms-5 fw-bold text-primary">Advantagaes of Mutual Fund</p>
      <div class="row p-3">
        <div class="col bg-slate-1 rounded p-4 m-2">
          <p class="fs-2">
            Diversification
          </p>
          <p>Mutual funds pool money from multiple investors to invest in a diversified portfolio of assets, such as stocks, bonds, or a combination of both. This diversification helps spread the investment risk across different securities and reduces the impact of any single investment's performance on the overall portfolio. For new investors with limited capital and knowledge, this can be beneficial as it provides exposure to a variety of investments without having to individually select and manage them.</p>
        </div>
        <div class="col bg-slate-1 rounded p-4 m-2">
          <p class="fs-2">
            Professional Management
          </p>
          <p>Mutual funds are managed by experienced investment professionals who conduct research, make investment decisions, and monitor the portfolio. For new investors who may not have the time, expertise, or resources to actively manage their investments, mutual funds offer the advantage of professional management. The fund manager's expertise can potentially lead to better investment decisions and improved returns.</p>
        </div>
        <div class="col bg-slate-1 rounded shadow-lg p-4  m-2">
          <p class="fs-2">
            Affordability
          </p>
          <p>Many mutual funds have relatively low minimum investment requirements, making them accessible to new investors with limited capital. This allows individuals to start investing with smaller amounts, gradually building their investment portfolio over time.</p>
        </div>
      </div>
    <div>
    {{>footer}}
  </body>
</html>
