<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script
      src="https://cdn.plot.ly/plotly-2.20.0.min.js"
      charset="utf-8"
    ></script> -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <!--{% comment %} font-family: 'Karla', sans-serif; {% endcomment %} -->
    <link rel="stylesheet" href="home.css" />
    <title>Web App</title>
  </head>
  <body>
    {{>headers}}
    <div class="cover">
      <p>
        Invest to get
        <b class="grad-red-text">maximum</b>
        returns with
        <b class="grad-red-text">lowest</b>
        risk
      </p>
      <div class="container">
        <input
          type="number"
          placeholder="enter amout"
          id="amount"
          onchange="amountANdTimeUpdate()"
        />
        
        <input
          type="number"
          placeholder="enter time in years"
          id="time"
          onchange="amountANdTimeUpdate()"
        />
        <button onclick="calculate()">search</button>
      </div>
    </div>

    <section class="analysis">
      <div class="hide">
        <div class="ans-cover">
          <b class="ans-text">Mutual Fund</b>
          <b class="ans-text">Annual returns</b>
          <b class="ans">Expected Returns</b>
          <b class="ans-text">Risk</b>
          <b id="ans-text">Catagory Average</b>
        </div>
      </div>
    </section>
    <div class="list-cover">
      <span id="test"></span>
    </div>
    {{>footer}}
    <script  src="home.js"></script>
    {% comment %} <script type="module" src="./data.js"></script> {% endcomment %}
    <!-- script part is starting from here -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        mirror: true,
      });
    </script>
  </body>
</html>
