<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body class="bg-dark text-white">
    {{>headers}}
    <div class="row container">
      <div class="col fs-1 p-4 m-5">
        Equity Funds For long term (4 years or more)
      </div>
      <div class="col fs-1 p-4 m-5">
        <a href="/typeTwo" class="link"
          >Hybrid Funds For medium to long term</a
        >
      </div>
      <div class="col fs-1 p-4 m-5 bg-light text-dark rounded cursor">
        Debt Funds
For short to medium term
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Park Your Savings</h1>
          <div class="row p-4">
            <h2><a href="/overnight" class="link">Overnight</a></h2>
            <p>For up to 1 week</p>
          </div>
          <div class="row p-4">
            <h2><a href="/liquid" class="link">Liquid</a></h2>
            <p>For 1 week to 1 month</p>
          </div>
          <div class="row p-4">
            <h2><a href="/ultraShortDuration" class="link">Ultra Short Duration</a></h2>
            <p>For 2 to 4 months</p>
          </div>
          <div class="row p-4">
            <h2>
              <a href="/moneyMarket" class="link"
                >Money Market</a
              >
            </h2>
            <p>For 6 to 12 months</p>
          </div>
          <h1 class="p-2">By Solutions</h1>
          <div class="row p-4">
            <h2><a href="/retirementSolution" class="link">Retirement Solutions</a></h2>
            <p>Invests primarily in debt papers for retirement solutions</p>
          </div>
        </div>
        <div class="col">
          <h1 class="p-2">Better than FDs</h1>
          <div class="row p-4">
            <h2><a href="/bankingandPSU" class="link">Banking and PSU</a></h2>
            <p>Lends only to Banks & PSUs</p>
          </div>
          <div class="row p-4">
            <h2><a href="/corporateBond" class="link">Corporate Bond</a></h2>
            <p>Lends to Safe & Sound Companies</p>
          </div>
          <div class="row p-4">
            <h2><a href="/shortDuration" class="link">Short Duration</a></h2>
            <p>For 1 to 3 years</p>
          </div>
          <h1>Others</h1>
          <div class="row p-4">
            <h2><a href="/creditRisk" class="link">Credit Risk</a></h2>
            <p>Invest at least 65% in not-so-highly rated securities</p>
          </div>
          <div class="row p-4">
            <h2><a href="/Gilt" class="link">Gilt</a></h2>
            <p>Invests primarily in government securities</p>
          </div>
          <div class="row p-4">
            <h2><a href="/giltwithTen" class="link">Gilt with 10 year Constant Duration</a></h2>
            <p>Invests passively in government securities.</p>
          </div>
          <div class="row p-4">
            <h2><a href="/Floater" class="link">Floater</a></h2>
            <p>Invests at least 65% in floating rate-bonds</p>
          </div>
          <div class="row p-4">
            <h2><a href="/debtFoF" class="link">Debt FoF</a></h2>
            <p>Invests in other debt fundss</p>
          </div>
        </div>
        <div class="col">
          <h1>Debt for Long Term</h1>
          <div class="row p-4">
            <h2><a href="/mediumDuration" class="link">Medium Duration</a></h2>
            <p>For 2 to 4 years</p>
          </div>
          <div class="row p-4">
            <h2><a href="/targetMaturity" class="link">Target Maturity</a></h2>
            <p>Index funds for debt investments</p>
          </div>
          <div class="row p-4">
            <h2><a href="/mediumtoLongDuration" class="link">Medium to Long Duration</a></h2>
            <p>For 3 to 5 years</p>
          </div>
          <div class="row p-4">
            <h2><a href="/longDuration" class="link">Long Duration</a></h2>
            <p>For 5 years or more</p>
          </div>
          <div class="row p-4">
            <h2><a href="/dynamicBond" class="link">Dynamic Bond</a></h2>
            <p>Lends based on interest rate movements</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
