<html>
    <head>
        <link rel="stylesheet" href="footer.css" />
    </head>
    <body>
        <div class="footer-cover">
            <p>ALL rights are reserved In @StockSense</p>
        </div>
    </body>
</html>