<html>
  <section class="nav-cover">
    <nav class="navbar">
      <section class="nav-left">
        <a href="#" class="head_main">StockSence</a>
        <a href="/">Home</a>
        <a href="/news">News</a>
        <a href="/contact">Contact Us</a>
        <a href="/about">About</a>
      </section>
      <div class="nav-right">
        <div><a href="/register">sign Up</a></div>
        <div><a href="/login">sign In</a></div>
      </div>
    </nav>
  </section>
</html>