<html>
  <section class="nav-cover">
    <nav class="navbar">
      <section class="nav-left">
        <a href="/" class="head_main navIcon">StockSence</a>
        <a href="/" class="navIcon">Home</a>
        <a href="/news" class="navIcon">News</a>
        <a href="/contact" class="navIcon">Contact Us</a>
        <a href="/about" class="navIcon">About</a>
      </section>
      <div class="nav-right">
        <div class="signUp"><a href="/register">SIGNUP</a></div>
        <div class="navIcon"><a href="/login">LOGIN</a></div>
      </div>
    </nav>
  </section>
</html>