.footer-cover{
    width: 100%;
    background: #110f1b;
    text-align: center;
    padding: 1rem 0rem;margin-top: 8vh;
    font-size: 1.4rem;
    font-family:sans-serif;
    word-spacing: 0.3rem;
}
