@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

	

	


  
body {
    
    background-color: black;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    background-color: black;
}
.button-container {
    display: flex;
    justify-content: center;
  }
  .button {
    font-size: 24px;
    padding: 12px 24px;
  }


nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: darkslategray
    ;
}
  
nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

  
nav ul {
    display: flex;
    list-style: none;
}
  
nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}
  
nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
  
nav ul li:hover {
    background-color: black;
   
}
  
nav ul li a:hover {
    color: white;
}
  
nav .sideMenuButton {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

/* responsive navbar css */
@media screen and (max-width: 600px) {
    nav .sideMenuButton {
        display: flex;
    }
  
    nav .navbar {
        display: none;
    }
  
    .sideNavigationBar {
        display: block !important;
    }
}
  
.sideNavigationBar {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: black;
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
}
  
.sideNavigationBar a {
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #d1d1d1;
    transition: 0.3s;
    text-decoration: none;
}
  
.sideNavigationBar a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
}
  
.sideNavigationBar a:hover {
    color: white;
}
  
.sideNavigationBar .closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}
  
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 5%;
}
  
.line .side1 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    padding-right: 50px;
}
.side1 p {
    text-align: center;
    margin: 5vh 0;
  }
@media (max-width: 600px) {
    .side1  {
      font-size: 1px;
    }
  }
  
.side1 h1 {
    font-size: 60px;
    
    background-image: linear-gradient(45deg, #f3ec78, #1ee5ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.side1 p {
    margin-bottom: 0px;
}
  

  
a {
    text-decoration: none;
    color: white;
}
  
/* Header content responsive */
@media screen and (max-width: 980px) {
    .side2 img {
        width: 350px;
    }
  
    .side1 h1 {
        font-size: 40px;
    }
  
    .side1 p {
        font-size: 17px;
    }
  
    .line {
        margin-top: 80px;
    }
}
  
@media screen and (max-width: 600px) {
    .side1 h1 {
        font-size: 35px;
    }
  
    .line {
        flex-direction: column;
    }
  
    .line .side1 {
        padding: 30px;
    }
}
  
/* section */
  
section .topic a {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
  
.about .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.about .boxes .box {
    margin: 10px 20px;
    max-width: calc(100% / 3 - 50px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(236, 98, 13, 0.655);
    cursor: default;
    color: white;
}
  
/* Contact Page  */
  
.contact {
    padding: 20px;
}
  
.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}
  
.content .title {
    
    width: 80%;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: white;
}
  
.title {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 80px;
}
  
.contactMenu {
    display: flex;
    justify-content: space-evenly;
}
  
.input2 {
    margin-top: 10;
}
  
.label1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
}
  
.contactMenu .input1 input {
    border-radius: 13px;
    padding: 6px;
}
  
.input2 input {
    border-color: rgb(252, 244, 244);
    width: 400px;
}
  
.button {
    margin-top: 12px;
    margin-left: 5px;
}
  
.button button {
    width: 162px;
    height: 35px;
    border-radius: 12px;
    border-color: transparent;
}
  
.button button:hover {
    background-color: #8cc099;
}
  
button {
      
    border-radius: 12px;
    border-color: transparent;
}
  
button:hover {
    background-color: skyblue;
}
  
.rightside1 {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
  
.title1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: bolder;
}
  
.content1 {
    width: 450px;
    margin-top: 2px;
    color: grey;
}
.features {
   
    margin: 0 auto;
    text-align: center;
  }
  
  .features h2 {
    text-align: left;
    font-size: 56px;
    margin-bottom: 5px;
    margin-left: 15vh;
    background-image: linear-gradient(to right, blue, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 20px;
  }
  
  .features h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .features p1 {
    font-size: 18px;
    margin-bottom: 20vh;
  }
/* Footer */
footer {
    background: var(--primary-color);
    clear: both;
    margin: 50px 0;
    padding: 15px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
  
footer .footer span {
    font-size: 17px;
    font-weight: 400;
    color: var(--white-color);
}
  
footer .footer span a {
    font-weight: 500;
    color: var(--white-color);
}
  
footer .footer span a:hover {
    text-decoration: underline;
}
  
@media screen and (max-width: 1060px) {
    .contactMenu {
        flex-direction: column;
        align-items: center;
    }
  
    .rightside1 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
  
    .content1 {
        width: 100%;
        margin-top: 2px;
        color: grey;
    }
  
    .side2 img {
        width: 95%;
        height: 90%;
    }
}
  
@media screen and (max-width: 600px) {
    .side2 img {
        width: 100%;
    }
  
    section .topic a {
        font-size: 20px;
    }
  
    section .topic p {
        font-size: 5px;
    }
  
    .about .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .about .boxes .box {
        max-width: 70%;
    }
}
