*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  display:flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  background: url("https://media.istockphoto.com/id/1345912457/photo/financial-stock-market-graph-selective-focus.jpg?b=1&s=170667a&w=0&k=20&c=bkFbjmknST5rqnYF4atbFYVAP5EcSpIEl4eYXdSKedg=") no-repeat;
  background-size:cover;
  background-position:center;
}

header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 100px;

  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:99;
}
.logo{
  font-size: 2em;
  color:#fff;
  user-select: none;

}
.navigation a{
  position:relative;
  font-size:1.1em;
  color:#fff;
  text-decoration:none;
  font-weight:500;
  margin-left: 40px;
}
.navigation a::after{
  content:'';
  position: absolute;
  left:0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform:scaleX(0);
  transform:scaleX(0);
  transition: transform .5s;
  
}
.navigation a:hover::after{
  transform-origin: left;
  transform: scalex(1);
}
.navigation .btnLogin-popup{
  width:130px;
  height:50px;
  background:transparent;
  border:2px solid #fff;
  outline:none;
  border-radius:6px;
  cursor:pointer;
  font: size 1.1em;
  color:#fff;
  font-weight:500;
  margin-left:40px;
  transition: .5s;

}
.navigation .btnLogin-popup:hover {
  background:#fff;
  color:black
}
.wrapper{
  position:relative;
  width:400px;
  height:440px;
  background: transparent;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  

}
.wrapper.active-popup{
  transform:scale(1);
}
.wrapper.active{
  height:520px;
}
.wrapper.form-box{
  width:100%;
  padding:40px;
}
.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login{
  transition:none;
  transform: translateX(-400px);
}
.wrapper .form-box.register{
  position:absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}
.form-box h2{
  font-size:2em;
  color:white;
  text-align:center;

}
.input-box{
  position: relative;
  width:100%;
  height:50px;
  border-bottom:2px solid #162938;
  margin: 30px 0;

}
.input-box label{
  position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  font-size: 1em;
  color:white;
  font-weight: 500;
  pointer-events:none;
  transition: .5s;

}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline:none;
  font-size: 1em;
  color: white;
  font-weight: 600;
  padding:0 35px 0 5 px;
}
.remember-forgot{
  font-size: .9em;
  color:white;
  font-weight: 500;
  margin: -15px 0 15px;
  display:flex;
  justify-content: space-between;
}
.remember-forgot label input{
  accent-color: white ;
  margin-right: 3px;

}
.remember-forgot a{
  color: white;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.btn{
  width:100%;
  height:45px;
  background: #162938;
  border: none;
  outline:none;
  border-radius:6px;
  cursor:pointer;
  font-size: 1em;
  color: white;
  font-weight:500;

}
.login-register{
  font-size:.9em ;
  color: wheat;
  text-align:center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a{
  color:wheat;
  text-decoration: none;
  font-weight:600
}
.login-register p a:hover{
  text-decoration: underline;


}